<html>
<head>
<title>Lista do Olá</title>
<script>
</script>
</head>

<body>
<h1>Já disseram "olá" pra gente:</h1>
<ul>
<% for (nome of lista) { %>
<li class="nomenalista"><%=nome%></li>
<% } %>
</ul>

<a href="/">Tem mais alguém querendo falar "olá"...</a>
</body>

</html>